
<h1>
【面接想定質問】 > 選択画面
</h1>

<%= link_to "面接練習へ", practice_path %>

<%= link_to "一覧", questions_path %>
<%= link_to "質問作成", new_question_path %><br>


  <input type="text" id="github_name" placeholder="github nameを入力してください"><br>
  <button id="get_repositories_button">取得</button><br>
  <ul id="repository_list">
  </ul>
