<h1>面接練習スタート</h1>

<%= turbo_frame_tag "inquiry" do %>
  <p></p>
<% end %>

<%= link_to "質問スタート", inquiry_path, data: { turbo_frame: "inquiry", turbo_cache: "false" } %>


<%= link_to "トップへ戻る", root_path %>